Repository g-truc/glm, pull requests merged in 2024-02, with the labels that each got.

#1237 Avoid warnings about comparisons being always true
  glm/detail/setup.hpp
  glm/detail/type_mat2x2.inl
  glm/detail/type_mat2x3.inl
  glm/detail/type_mat2x4.inl
  glm/detail/type_mat3x2.inl
  glm/detail/type_mat3x3.inl
  glm/detail/type_mat3x4.inl
  glm/detail/type_mat4x2.inl
  glm/detail/type_mat4x3.inl
  glm/detail/type_mat4x4.inl
  glm/detail/type_quat.inl
  glm/detail/type_vec2.inl
  glm/detail/type_vec3.inl
  glm/detail/type_vec4.inl
Labels: bug, OS: Platform independent

#1216 replace GLM_FORCE_QUAT_CTOR_XYZW to GLM_FORCE_QUAT_DATA_XYZW
  glm/detail/type_quat.hpp
  glm/detail/type_quat.inl
Labels: bug, OS: Platform independent

#1241 Enables Visual C++ /Wall
  glm/ext/scalar_ulp.inl
  glm/gtc/packing.inl
  test/CMakeLists.txt
  test/core/core_func_integer_bit_count.cpp
  test/core/core_func_integer_find_lsb.cpp
Labels: CC: visual c++, test, c.i.

#1250 Fixed SIMD smoothstep implementation #1222
  glm/simd/common.h
  readme.md
  test/core/core_func_common.cpp
Labels: bug, simd, OS: Platform independent

#1257 Revert SIMD improv 7f2a5b89b30d143014bc0363b99dc3d942457ae7
  glm/detail/_swizzle.hpp
  glm/detail/_vectorize.hpp
  glm/detail/func_common.inl
  glm/detail/func_common_simd.inl
  glm/detail/func_geometric.inl
  glm/detail/func_geometric_simd.inl
  glm/detail/func_matrix.inl
  glm/detail/func_matrix_simd.inl
  glm/detail/qualifier.hpp
  glm/detail/type_mat3x3.inl
  glm/detail/type_mat4x4.inl
  glm/detail/type_vec2.hpp
  glm/detail/type_vec3.hpp
  glm/detail/type_vec3.inl
  glm/detail/type_vec4.hpp
  glm/detail/type_vec4.inl
  glm/detail/type_vec4_simd.inl
  glm/detail/type_vec_simd.inl
  glm/ext/vector_relational.inl
  glm/gtc/random.inl
  glm/gtx/common.inl
  glm/gtx/vec_swizzle.hpp
  glm/simd/common.h
  glm/simd/matrix.h
  glm/simd/neon.h
  test/CMakeLists.txt
  test/bug/bug_ms_vec_static.cpp
  test/core/core_force_pure.cpp
  test/core/core_type_aligned.cpp
  test/gtc/gtc_random.cpp
  test/gtc/gtc_type_aligned.cpp
  test/perf/perf_matrix_mul.cpp
  test/perf/perf_matrix_mul_vector.cpp
  test/perf/perf_vector_mul_matrix.cpp
Labels: bug, simd
